#header.header
  #title This is your app name | Project name
  #user_status
    %ul
      %li
        %a{:href => "#"} Settings
      %li= link_to 'Logout', destroy_member_session_path, :method => :delete
#menu.menu
  %ul
    %li= link_to "Dashboard", root_path
    %li= link_to "Project", projects_path
      