#header.header
  #title This is your app name | Project name
  #user_status
    %ul
      %li
        %a{:href => "#"} Settings
      %li
        %a{:href => "#"} Logout
#menu.menu
  %ul
    %li
      %a{:href => "#"} Dashboard
    %li
      %a{:href => "#"} Projects