.container_title Dashboard
.container_body
  %h1 Your Projects
  %ul
    %li 
      %a{:href => "#"} Building Innovative Software
      %div 
        Due at : 22, January 2012 and assigned to 
        %a{:href => "#"} john pettruci        
    %li 
      %a{:href => "#"} Agile Web Development using Ruby on Rails
      %div 
        Due at : 22, January 2012 and assigned to 
        %a{:href => "#"} john pettruci
    %li 
      %a{:href => "#"} Please don't be skeptic
      %div 
        Due at : 22, January 2012 and assigned to 
        %a{:href => "#"} john pettruci

  %h1 Recent Activity
  %ul
    %li
      %h3 Today
      .recent_activity
        %ul
          - 5.times do
            %li
              %div
                %a{:href => "#"} john petrucci
                commented on 
                %a{:href => "#"} Building Innovative Software
    %li
      %h3 Yesterday
      .recent_activity
        %ul
          - 5.times do
            %li
              %div
                %a{:href => "#"} john petrucci
                commented on 
                %a{:href => "#"} Agile Web Development using Ruby on Rails
    %li
      %h3 Few days ago
      .recent_activity
        %ul
          - 5.times do
            %li
              %div
                %a{:href => "#"} john petrucci
                commented on 
                %a{:href => "#"} Please don't be skeptic
          